{% extends 'layout.html.twig' %}
{% set active_page = "/venues" %}

{% block content %}
	<h2>Editer un lieu</h2>
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">Anciennes Informations</h6>
				<p class="card-title lead">{{ venue.name_venue }}</p>
				<p class="card-text lead">{{ venue.city }}</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		{% include 'Venue/_form.html.twig' %}
	</div>
{% endblock %}
