<div class="container search-bar-container">
    <!-- <img class="position-absolute magnifying-glass" src="/public/assets/images/logo-search-d.png" alt="magnifying glass"> -->
    <input class="search-bar rounded-pill text-center container border" type="search" placeholder="Rechercher">
</div>
