<nav>
	<div class="avatar dropdown text-end">
		<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
			<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
		</a>
		<ul class="dropdown-menu text-small show" data-popper-placement="bottom-start">
			<li>
				<a class="dropdown-item" href="#">New project...</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Settings</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Profile</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a class="dropdown-item" href="#">Sign out</a>
			</li>
		</ul>
	</div>
</nav>
