<header>
    <nav class="navbar p-0 ">
        <div class="d-flex px-4 py-0 text-bg-dark justify-content-center align-items-center">
            <img class="logo" src="../../../public/assets/images/goldfish.png" class="img-fish" alt="" width="70px"
                height="70px">

            <div class="container-fluid h-0 vw-100 ">
                <div
                    class="bi me-2 d-flex align-items-center -lg-start h4 Bootstraps heading my-2 my-lg-0 me-lg-0 text-white text-decoration-none">
                    <ul class="nav col-10 ms-0 mt-0 align-items-center justify-content-around ">
                        <li>
                            <a href="Accueil" class="nav-link text-white">
                                <img id='artist' src="../../../public/assets/images/logo-home-w.png" width="35px"
                                    height="35px">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="Artistes" class="nav-link text-danger">
                                <img id='artist' src="../../../public/assets/images/logo-artist-r.png" width="35px"
                                    height="35px">
                                Artistes
                            </a>
                        </li>
                        <li>
                            <a href="Concerts" class="nav-link text-white px-6">
                                <img id='concert' src="../../../public/assets/images/logo-concert-w.png" width="35px"
                                    height="35px">
                                Concerts
                            </a>
                        </li>
                        <li>
                            <a href="Agenda" class="nav-link text-white px-6">
                                <img id='agenda' src="../../../public/assets/images/logo-calendar-d.png" width="35px"
                                    height="35px">
                                Agenda
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>