{% extends 'layout.html.twig' %}

{% block classBody %}indexBackground
{% endblock %}
{% block content %}
	<section class="indexSection">
		<p class="logotxt">goldfish</p>
		<img src="/assets/images/goldfish.png" class="logoimg" alt="logo goldfish">
	</section>
{% endblock %}
