{% extends 'layout.html.twig' %}

{% block classBody %}index
{% endblock %}
{% block content %}
	<p class="logotxt">goldfish</p>
	<img src="/assets/images/goldfish.png" class="logoimg" alt="...">
{% endblock %}
