{% extends 'layout.html.twig' %}

{% block body %}
	<body class="index">
		<p class="logotxt">goldfish</p>
		<img src="/assets/images/goldfish.png" class="logoimg" alt="...">

	</body>
</span></body>{% endblock %}
