{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Hello Wilder !</h1>
	<p>Find a complete CRUD example on
		<a href="/items">/items</a>
		page.</p>
	<p>Find a complete CRUD example on
		<a href="/concerts">/concerts</a>
		page.</p>
	<p>Find a complete CRUD example on
		<a href="/artists">/artists</a>
		page.</p>
{% endblock %}
