@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rokkitt&display=swap');

body {
    background-color: #FEF1EC;
    font-family: 'Inter', sans-serif;
    color: black;
    user-select: none;
    height: 100vh;
}

/************* INDEX *****************/

.indexBackground {
    background-image: url("/assets/images/background.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.indexSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logotxt {
    font-family: 'Rokkitt', serif;
    font-size: 80px;
    color: #FEF1EC;
    margin-bottom: 0px;
}

.logoimg {
    width: 200px;
}

.baseline {
    color: #FEF1EC;
    font-family: 'Rokkitt', serif;
    font-size: 25px;
    text-align: center;
}

.baselineWelcome {
    color: #FEF1EC;
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

/************* MENU-AVATAR *****************/

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    width: 100vw;
}

/*********** SEARCH-BAR *******************/

.search-bar {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
}

/*********** CARD CONCERT *******************/
.card.concert {
    margin: 1rem 0 1rem 0;
    width: 260px;
}


.card-img-top {
    height: 220px;
    object-fit: cover;
}

/*********** ROUNDED ARTISTS *******************/
.bd-placeholder-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

/*********Animation Desktop********/
span {
    width: 144px;
    height: 44px;
}

.artist .overlay {
    top: 0px;
    font-family: 'Rokkitt', serif;
    font-size: 2.3rem;
    color: #FEF1EC;
    background: rgba(0, 0, 0, 0.74);
    width: 140px;
    height: 140px;
    transform: scale(0);
    opacity: 1;
}

.artist:hover .overlay {
    transform: scale(1);
    transition: opacity 0.25s ease-in-out;
    transition: transform .5s;
    opacity: 1;
}

.artist .overlayMob {
    top: 0px;
    font-family: 'Rokkitt', serif;
    font-size: 2.3rem;
    color: #FEF1EC;
    background: rgba(0, 0, 0, 0.74);
    width: 140px;
    height: 140px;
    transform: scale(0);
    opacity: 1;
}

.artist:active .overlayMob {
    transform: scale(1);
    transition: opacity 0.25s ease-in-out;
    transition: transform .0s;
    opacity: 1;
}

.artist-name {
    font-size: 18px;
}

button.btn.btn-danger.btn-sm,
a.btn.btn-primary.btn-sm,
a.btn.btn-success.btn-sm {
    margin-top: 4px;
}

#allArtists {
    text-align: center;
}

#oneArtist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-size: 120px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

/*************** NAV BAR DESKTOP **********************/

.logo {
    width: 35px;
    height: 35px;
}

.navbar-brand {
    font-family: 'Rokkitt', serif;
    font-size: x-large;
    color: #FEF1EC;
}

.iconeMenu-desktop {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #FEF1EC;
}

.avatar {
    height: 40px;
    width: 40px;
}

ul.nav {
    align-items: center;
    padding: 10PX 0PX 10PX 0PX;
}

a.navlink {
    color: #FEF1EC;
    text-decoration: none;
}

a.navlink:hover {
    color: #FEF1EC;
}

nav {
    background-color: #0A0E10;
}

.dropdown-toggle::after {
    color: #FEF1EC;
}

/************** NAV BAR MOBILE *******************/

.iconeMenu-mobile {
    width: 24px;
    height: 24px;
    background-color: #FEF1EC;
}

main {
    margin-bottom: 70px;
}

a.nav-link-mobile {
    color: #FEF1EC;
    text-decoration: none;
}

/************** NAV BAR ACTIVE *******************/

a.active.navlink,
a.active.nav-link-mobile {
    color: #F64747;
}

img.active.iconeMenu-desktop,
img.active.iconeMenu-mobile {
    background-color: #F64747;
}

/************** LINK *******************/
a {
    color: #F64747;
}


.card-img-agenda {
    width: 150px;
}