@include media-breakpoint-only(sm) {
    ...
}



body {
    background-color: #FEF1EC;
    color: black;
}


/************* MENU-AVATAR *****************/

nav {
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(0px, 34px, 0px);
}

/*********** SEARCH-BAR *******************/

.search-bar {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
}

/*********** CARD CONCERT *******************/
.card {
    width: 18rem;
    margin: 1rem 0 1rem 0;
}

/*********** ROUNDED ARTISTS *******************/
.bd-placeholder-img {
    width: 140px;
    height: 140px;
}

#allArtists {
    text-align: center;
}

#oneArtist {
    margin: 1rem 0 1rem 0;
    justify-content: center;
}

.artist-name {
    font-size: 18px;
}

/************* ADD CONCERTS FORM *****************/

.addconcerts {
    border: solid #dee2e6;
    margin: 2rem;
    padding: 2rem;
    background-color: #FEF1EC;
}

h1 {
    text-align: center;
}