@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');


body {
    background-color: #FEF1EC;
    color: black;
    height: 100vh;
}

.indexBackground {
    background-image: url("/assets/images/header.jpg");

}

.indexSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.logotxt {
    font-family: 'Rokkitt', serif;
    font-size: 100px;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FEF1EC;
    text-shadow:
        6px 6px #F64747,
        12px 12px #000000;
}

.logoimg {
    width: 300px;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-size: 120px;
}

header {
    margin-bottom: 20px;
}

/************* MENU-AVATAR *****************/

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    width: 100vw;
}

/*********** SEARCH-BAR *******************/

.search-bar {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
}

/*********** CARD CONCERT *******************/
.card {
    width: 18rem;
    margin: 1rem 0 1rem 0;
}

/*********** ROUNDED ARTISTS *******************/
.bd-placeholder-img {
    width: 140px;
    height: 140px;
}

/*********Animation Desktop********/
span {
    width: 144px;
    height: 44px;
}

p {
    width: 144px;
    height: 44px;
}

.artist .overlay {
    top: 0px;
    font-family: 'Rokkitt', serif;
    font-size: 2.3rem;
    color: #FEF1EC;
    background: rgba(0, 0, 0, 0.74);
    width: 140px;
    height: 140px;
    transform: scale(0);
    opacity: 1;
}

.artist:hover .overlay {
    transform: scale(1);
    transition: opacity 0.25s ease-in-out;
    transition: transform .5s;
    opacity: 1;
}

.artist .overlayMob {
    top: 0px;
    font-family: 'Rokkitt', serif;
    font-size: 2.3rem;
    color: #FEF1EC;
    background: rgba(0, 0, 0, 0.74);
    width: 140px;
    height: 140px;
    transform: scale(0);
    opacity: 1;
}

.artist:active .overlayMob {
    transform: scale(1);
    transition: opacity 0.25s ease-in-out;
    transition: transform .0s;
    opacity: 1;
}

.artist-name {
    font-size: 18px;
}

button.btn.btn-danger.btn-sm,
a.btn.btn-primary.btn-sm,
a.btn.btn-success.btn-sm {
    margin-top: 4px;
}

#allArtists {
    text-align: center;
}

#oneArtist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

/************* ADD CONCERTS FORM *****************/

.addconcerts {
    margin: 2rem;
    padding: 2rem;
    background-color: #FEF1EC;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

/*************** NAV BAR DESKTOP**********************/

.logo {
    width: 35px;
    height: 35px;
}

.navbar-brand {
    font-family: 'Rokkitt', serif;
    font-size: x-large;
}

.iconeMenu-desktop {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.avatar {
    height: 40px;
    width: 40px;
}



/************** NAV BAR MOBILE*******************/

.iconeMenu-mobile {
    width: 24px;
    height: 24px;
}