<div class="container search-bar-container col-8 col-md-6 col-lg-4 sticky-top mb-5">
	<input class="search-bar rounded-pill text-center container border" type="search" placeholder="Rechercher">
</div>
