{% extends 'layout.html.twig' %}
{% set active_page = "/artists" %}
{% block title %}Artistes
{% endblock %}

{% block content %}
	<h2>Ajouter un artiste</h2>
	{% include 'Artist/_form.html.twig' %}
{% endblock %}
