{% extends 'layout.html.twig' %}
{% set active_page = "/artists" %}

{% block content %}
	<h2>Editer un artiste</h2>
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">Anciennes Informations</h6>
				<p class="card-title lead">{{ artist.name_artist }}</p>
				<p class="card-text lead">{{ artist.style }}</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		{% include 'Artist/_form.html.twig' %}
	</div>
{% endblock %}
