{% extends 'layout.html.twig' %}

{% block content %}
	<div>
		<p>Trouve des artistes</p>
		<a href="/artists">Retour</a>
	</div>
	{% include 'Artist/_searchArtiste.html.twig' %}

	<div id="allArtists" class="container marketing">

		<div class="row">
			{% for artist in artists %}
				<div class="col-lg-3 text-align-center">
					<img src="{{ artist.image }}" class="bd-placeholder-img rounded-circle" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
						<rect fill="#777"></rect>
					</img>

					<h4 class="fw-normal">{{ artist.name }}</h4>

				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}
