{% extends 'layout.html.twig' %}

{% block content %}
	<main class="container">
		<div class="row">
			<h2>Trouve des artistes</h2>
		</div>
		{% include 'Artist/_searchArtiste.html.twig' %}

		<div id="allArtists" class="container marketing">
			<h3>Suggestions</h3>
			<div class="row">
				{% for artist in artists %}
					<div class="col-6 col-lg-4 col-xl-3 text-align-center">
						<img src="{{ artist.image_artist }}" class="bd-placeholder-img rounded-circle shadow-lg" role="img" preserveaspectratio="xMidYMid slice" focusable="false">
					</img>

					<p class="artist-name">{{ artist.name_artist }}</p>

				</div>
			{% endfor %}
		</div>
	</div>
</main>{% endblock %}
